@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main {
    font-family: Roboto;
}

.card1 {
    background-color: #323f4b;
    height: 50px;
    text-align: center;
    color: #ffffff;

}

.card2 {
    background-color: #323f4b;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    background-size: cover;
    margin: 0px;
}

.blue {
    background-color: #47a3f3;
    color: #ffffff;
    height: 40px;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: right;
}

.orange {
    background-color: #52606d;
    color: #ffffff;
    height: 40px;
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;

}